@import "../../../assets/styles/variables"

.container
  position: absolute
  background-color: $white
  flex-direction: column
  display: flex
  padding-left: 7%
  width: 85%
  height: 55%
  left: 5%
  right: 5%
  top: 100px
  border-radius: 10px